{% extends "main.html" %}
{% load mptt_tags %}
{% load PalannerProjectTags %}
{% block main %}


<h1>{{ project }}</h1>
Project progress: {% project_progress project %} 
Start {{ project.planned_start_date }} -> Finish: {{ project.planned_end_date }}
<div class="list_of_actions">
    <a href="{% url 'item-create' %}?pid={{ project.id }}" class="button">New Item</a>
</div>

<br><br>

{% build_tree project.items.all %}

  <script type="text/javascript">
    google.charts.load('current', {'packages':['orgchart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Parent');

      data.addRows({% get_org_chart project.items.all project %});

      var options = {
        height: 800,
        gantt: {
          trackHeight: 30,
          criticalPathEnabled: true,
          criticalPathStyle: {
              stroke: '#e64a19',
              strokeWidth: 5
            }
        }
      };

      var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>

<div id="chart_div"></div>


{% endblock %}