{% extends "main.html" %}
{% load mptt_tags %}
{% load PalannerProjectTags %}
{% block main %}


<h1>{{ project }}</h1>
Project progress: {% project_progress project %}
<div class="list_of_actions">
    <a href="{% url 'item-create' %}?pid={{ project.id }}" class="button">New Item</a>
</div>

<br><br>

<table class="content" border="1">
  <tr>
    <th>Item name</th>
    <th>Status</th>
    <th>Planned dates</th>
    <th>Execution dates</th>
    <th>Team</th>
  </tr>
{% build_tree project.items.all %}
</table>

  <script type="text/javascript">
    google.charts.load('current', {'packages':['gantt']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('string', 'Resource');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Complete');
      data.addColumn('string', 'Dependencies');

      data.addRows({% get_gnat_chart_data project.items.all %});

      var options = {
        height: 800,
        gantt: {
          trackHeight: 30
        }
      };

      var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>

<div id="chart_div"></div>


{% endblock %}