{% extends "main.html" %}
{% load mptt_tags %}
{% load PalannerProjectTags %}
{% block main %}


<h1>{{ project }}</h1>
<div class="list_of_actions">
Project progress: {{ project.progress }}%  <br/>
Start {{ project.planned_start_date }} -> Finish: {{ project.planned_end_date }} <br/>
</div>
<div class="list_of_actions">
    <a href="{% url 'item-create' %}?pid={{ project.id }}" class="button">New Item</a>
    <a href="{% url 'project-recalculate' project.id %}"" class="button"> Recalcualte project</a>
</div>

<br><br>

{% build_tree project.items.all %}

  <script type="text/javascript">
    google.charts.load('current', {'packages':['orgchart']});
    google.charts.load('current', {'packages':['gantt']});


    google.charts.setOnLoadCallback(drawChart);
    google.charts.setOnLoadCallback(drawGanttChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Parent');

      data.addRows({% get_org_chart project.items.all project %});

      var options = {
        gantt: {
          trackHeight: 30,
          criticalPathEnabled: true,
          criticalPathStyle: {
              stroke: '#e64a19',
              strokeWidth: 5
            }
        }
      };

      var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }

    function drawGanttChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Complete');
      data.addColumn('string', 'Dependencies');


      data.addRows({% get_gantt_chart_data project.items.all %});

      var options = {
        height: 675
      };

      var chart = new google.visualization.Gantt(document.getElementById('gantt_chart_div'));

      chart.draw(data, options);
    }
  </script>


<div id="chart_div"></div>

<div id="gantt_chart_div"></div>



{% endblock %}