{% load static %}
{{ form.media }}
<head>
<title>Simple Planner</title>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


{% block javascript %}
<script type="text/javascript"> 
function startItem(itemId)
{
    $.get("/PlannerApp/ajax-start-item/"+itemId, function(data, status)
    {
        console.log("statusItem_"+itemId)
        if (data['status'] == "OK")
        {
            console.log(data);
            var elem = document.getElementById( "statusItem_"+itemId )
            elem.innerHTML = data['newState']
            var elem = document.getElementById( "dates_"+itemId )
            elem.innerHTML = data['start_date'] + "-" + data['end_date']
        }
    });
}

function closeItem(itemId)
{
    $.get("/PlannerApp/ajax-close-item/"+itemId, function(data, status)
    {
        console.log(data)
        if (data['status'] == "OK")
        {
            console.log(data);
            var elem = document.getElementById( "statusItem_"+itemId )
            elem.innerHTML = data['newState']
            var elem = document.getElementById( "dates_"+itemId )
            elem.innerHTML = data['start_date'] + "-" + data['end_date']
        }
    });
}

function updateTeam(itemId)
{
    var elem = document.getElementById( "select_team_"+itemId )
    var selected_team = elem.options[elem.selectedIndex].value;
    $.get('/PlannerApp/ajax_set_team/' + itemId + "/" + selected_team, function(data, status)
    {
        console.log(data)
        console.log(status)
    });
}

$(document).on('autocompleteLightInitialize', '[data-autocomplete-light-function=select2]', function() {
    // do select2 configuration on $(this)
})

</script>

{% endblock %}




<link rel="stylesheet" href="{% static "main.css" %}" />

</head>