{% load static %}
{{ form.media }}
<head>
<title>Tournament Calculator</title>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

{% block javascript %}
<script type="text/javascript"> 
window.onload = function() {
   if (window.jQuery) {
      alert('jQuery is loaded');
   } else {
      alert('jQuery is not loaded');
  }
}
</script>
{% endblock %}

<link rel="stylesheet" href="{% static "main.css" %}" />

</head>